.chunk{
	width:300px;
	min-height:110px;
	border:solid 1px #555;
	margin-top:20px;
	
	-webkit-transition:box-shadow 0.5s ease; 
	   -moz-transition:box-shadow 0.5s ease; 
	        transition:box-shadow 0.5s ease; 
}

.chunk.drag-hover{
	box-shadow:0 0 5px 5px #a4851d;
}