#property-editor .property span {
	/*
	margin-left:5px;
	margin-right:5px;
	padding-left:3px;
	padding-right:3px;
	*/
}

.contenu.hidden{
	height:0px;
	overflow-y:hidden;
	
	-webkit-transition: height 1s ease;
}
.contenu.visible{
	height:auto;
	overflow-y:hidden;
	
	-webkit-transition: height 1s ease;
}

.tool-box table{


}

#property-editor td span{
	padding-left:5px;
	padding-right:5px;
}

#property-editor tr{
	height:30px;
}

#property-editor .box{
	border-bottom:solid 1px #ddd;
	margin-bottom:20px;
}

#property-editor .property-value {
	width:100px;
	height:25px;
	border:solid 1px #ddd;
}

#property-editor .preview canvas{
	border:solid 1px #ddd;
}

#property-editor {
	position:absolute;
	-webkit-transition: top 1s ease;
}
/*

border-bottom: 1px solid #ddd;

#property-editor nav.menu:before{
	background-color:#ddd;
	width:50px;
	height:50px;
	content: " ";
	position:absolute;
	-webkit-transform:rotate(45deg);
	left:-25px;
	top:50px;
	box-shadow: 0 0 2px 3px #aaa;
}*/

#property-editor nav.menu{
	
}

#property-editor nav.menu ul{
	list-style: none;
}
#property-editor nav.menu li{
	float: left;
	/*position: relative;*/
	padding : 10px;
}

#property-editor{
	min-width:220px;
	max-width:300px;
	min-height:200px;
	background-color:#fff;
	padding:10px;
	box-shadow: 0 0 2px 3px #ddd;
}