
.height12 {
  height: 100%;
  *height: 99.94680851063829%;
}

.height11 {
  height: 91.48936170212765%;
  *height: 91.43617021276594%;
}

.height10 {
  height: 82.97872340425532%;
  *height: 82.92553191489361%;
}

.height9 {
  height: 74.46808510638297%;
  *height: 74.41489361702126%;
}

.height8 {
  height: 65.95744680851064%;
  *height: 65.90425531914893%;
}

.height7 {
  height: 57.44680851063829%;
  *height: 57.39361702127659%;
}

.height6 {
  height: 48.93617021276595%;
  *height: 48.88297872340425%;
}

.height5 {
  height: 40.42553191489362%;
  *height: 40.37234042553192%;
}

.height4 {
  height: 31.914893617021278%;
  *height: 31.861702127659576%;
}

.height3 {
  height: 23.404255319148934%;
  *height: 23.351063829787233%;
}

.height2 {
  height: 14.893617021276595%;
  *height: 14.840425531914894%;
}

.height1 {
  height: 6.382978723404255%;
  *height: 6.329787234042553%;
}





nav{
	position:fixed;
	top:20%;
	left:0px;
	border-radius:0 5px 5px 0;
	width:30px;
	padding:5px;
}
/* menu lateral gauche */  
.BoxMenu{  
    color:black;                /* Couleur du texte */  
    background-color:#e6ca67;   /* Couleur du fond. Il est possible de 
                                   changer la couleur de fond par une image 
                                   dans ce cas, vous ajouterez la ligne suivante 
                                   background-image: url('url de votre image'); */  
    overflow:hidden;            /* empêche que le contenu des boites ne dépasse de celles-ci */  
    width:104px;height:76px;    /* Largeur et hauteur de la boite principale 
                                   Largeur (width)= largeur de contenu (70) + hauteur txt(22) + bordures (4x3) = 104 px  
                                   Hauteur (height)=hauteur de contenu (70) + bordures (2x3)=76 px */  
    position:fixed;                /* Positionnement par rapport à la fenêtre du navigateur */  
    left:-76px;                    /* On décale vers la gauche de 76 px de manière à ne laisser voir 
                                   que la boite txt */  
     -webkit-transition-duration: 0.5s;/* Durée de transition pour un effet de slide */  
     -moz-transition-duration: 0.5s;  
     transition-duration: 0.5s;   
     border-radius:0px 8px 8px 0px;  /* arrondi des coins à droite de la boite de 8 px */   
      
}  
.contenu {   
    border:3px ridge #fae6a0; /* Bordure de type ridge de 3px d'epaisseur et de couleur lightblue */  
    height:70px;                  /* hauteur de 70px */  
    width:70px;                    /* largeur de 70px */  
    }  
  
.contenu img  /* Optionnel */  
{  
    width:70px;   /* redimensionne les images de contenu à 70 x 70 px */  
    height:70px;  
}  
.txt{  
    text-shadow: 1px 1px 2px b67800;  /* Effet d'ombre sur le texte décalage de 1 px, flou de 2px couleur noire */  
    border:3px #fae6a0 ridge;         /* Bordure de type ridge de 3px d'epaisseur et de couleur lightblue */  
    font-size:14px;                     /* Taille de la police */  
    color:4d4c4b;                     /* Couleur de la police */  
    text-align:center;                 /* Centrage de la police */  
    position:relative;                 /* Positionnement relatif par rapport à la boite BoxMenu */  
    left:52px;                       /* Décalage pour un bon positionnement de la boite */  
    top:-52px;                         /* Voir l'image pour l'explication des valeurs */  
    width:70px;                         /* Largeur de txt */  
    height:22px;                     /* Hauteur de txt */  
    border-radius:0px 0px 8px 8px;   /* arrondi des coins inférieurs de la boite de 8 px */   
    transform: rotate(270deg);         /* angle de rotation de la boite de 270° */  
    -ms-transform: rotate(270deg);   
    -webkit-transform: rotate(270deg);   
    -o-transform: rotate(270deg);   
    -moz-transform: rotate(270deg);   
}  
.BoxMenu:hover  
{  
     left:0px;  /* affiche toute la boite BoxMenu au survol de la souris */  
}  
   
#guide .alert{
	margin-top:10px;
	display:inline-block;
	float:right;
	max-width:70%;
}
#guide{
	position:fixed;
	top:1%;
	right:20px;
}
#guide-portrait{
	height:68px;
	width:68px;
	float:right;
	background-color:#ccc;
	display:inline-block;
	margin-left:30px;
	cursor:pointer;
}

.container-fluid{
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(255,255,255,0.6);
}
.frame:last-child{
	margin-bottom:0;
}
.frame{
	margin-bottom:200px;
	/*border:solid 2px #ccc;*/
}

[data-component]{
	border:solid 1px #aaa;
	/*text-align:center;*/
}
#frame-header {
	height : 400px;
	background-color:#f3f3f3;
}
#frame-footer {
	height : 400px;
	background-color:#f3f3f3;
}
#frame-result{
	transition:margin-bottom , height 0.6s ease 0.7s;
	-webkit-transition:margin-bottom , height 0.6s ease 0.7s;
	-moz-transition:margin-bottom , height 0.6s ease 0.7s;
	overflow-y:hidden;
}
#frame-result.hidden{
	height:0;
	margin-bottom:0;
}
#frame-result #list-result{
	overflow-y:hidden;
	overflow-x:auto;
	white-space:nowrap;
}
#frame-result .result{
	display:inline-block;
	width:400px;
	height:90%;
	border:solid 2px #777;
}

.fullscreen{
	height:100%;
}
.frame-blank-top{
	height:10%;
}
.frame-blank-top-compl{
	height:90%;
}




html{
	/*overflow-y:hidden;*/
	/*overflow-x:hidden;  */
}